body{
    padding: 0;
    margin: 0;
    border: 0;
    background: #30353B;
    color: var(--gl-color);
}
.homeWrapper{
    /*background: #190019;*/
}
.contentWrapper{
    margin-left: 45px;
}
:root {
    --gl-color: rgb(215,215,215);
    --gl-black-900: #252A30;
    --gl-black: #30353B;
    --gl-violet-900: #190019;
    --gl-violet-800: #2b123c;
    --gl-violet-600: #522b5b;
    --gl-violet-300: #854f6c;
    --gl-purpur: #dfb6b2;
    --gl-white: #fbe4d8;
    --gl-red: #ae445a;
    --gl-gold: #f39f5a;
    --gl-blue-900: rgba(38, 81, 124, 0.59);
    --gl-blue-600: #26517C;

}