.Sidebar{
    position: absolute;
    left: -110px;
    display: flex;
    background: gray;
    height: calc(100vh - 60px);
    transition: left 0.5s ease-in-out;
}
.open{
    left: 0;
}
.openBar{
    cursor: pointer;
}

.Sidebar .blockLink{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    height: calc(100% - 10px);
}